.bar-div {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999999999999999999;
}

.bar {
  width: 10%;
  height: 5px;
}

.bar-default {
  background-color: #b5e1ff;
  box-shadow: 5px 10px 18px #b5e1ff;
}
.spinner-default {
 color: #b5e1ff;
}

.bar-darkblue {
  background-color: blue;
  box-shadow: 1px 10px 18px blue;
}
.spinner-darkblue {
 color: blue;
}
.bar-teal {
  background-color: teal;
  box-shadow: 1px 10px 18px teal;
}
.spinner-teal {
 color: teal;
}

.bar-hotpink {
  background-color: hotpink;
  box-shadow: 1px 10px 18px hotpink;
}
.spinner-hotpink {
 color: hotpink;
}

.bar-grey {
  background-color: grey;
  box-shadow: 1px 10px 18px grey;
}

.spinner-grey {
 color: grey;
}
.bar-yellow {
  background-color: yellow;
  box-shadow: 1px 10px 18px yellow;
}
.spinner-yellow {
 color: yellow;
}
.bar-orange {
  background-color: orange;
  box-shadow: 1px 10px 18px orange;
}
.spinner-orange {
 color: orange;
}
.spinner {
 float: right;
}
